.nav {
    list-style: none;

    border-style: dotted;
   
    padding-left: 0;

    width: 50%;

    margin:auto;

    text-align: center;

    
}

.nav>li {
    border-style: ridge;

    display: inline-block;

    
    

}

p {
    font-size: xx-large; text-align: center;
}

h1 {
    font-size: 450%; text-align: center;
}
 
img {
    display: block;
    width: 50%;
    margin: auto;    
}

body {
    background-color: lightgray;
}